{% extends "base.html" %}

{% block title %}News{% endblock title %}

{% block content %}
    <h1>Articles</h1>
    {% for article in followers_articles %}
    <ul class='dib tc'>
        <a href="{{ article.get_absolute_url }}" class='f5-ns b db pa2 link b black pv2 db bg-animate hover-bg-light-gray br2'>
            <ul class="list ph3 ph5-ns pv4 ">
                <li class='tc mr2 f3'>{{ article.title }}</li>
                <i>{{ article.created }}</i>
            </ul>
        </a>
        <a href="#" data-id="{{ article.id }}" data-action="{% if request.user in article.users_view.all %}un{% endif %}saw" class='saw'>
            {% if request.user not in article.users_view.all %}
                Already saw
            {% else %}
                Unsaw
            {% endif %}
        </a>
    </ul>
    {% endfor %}

{% endblock content %}

{% block domready %}
    $('a.saw').click(function(e){
        e.preventDefault();
        var elem = $(this);
        $.post('{% url "user_watch" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    var previous_action = elem.data('action');

                    // toggle data-action
                    elem.data('action', previous_action == 'saw' ? 'unsaw' : 'saw');
                    // toggle link text
                    elem.text(previous_action == 'saw' ? 'Unsaw' : 'Already saw');

                }
            });
    });
{% endblock domready %}
