{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ user.username }}{% endblock title %}

{% block content %}
    <div class="mh2 profile-img pt1 pr2 dib fl">
        <h2 class='tc'>{{ user.username }}</h2>
        {% thumbnail user.profile.photo "1080" crop='100%' as im %}
            <div class='' style="background: url({{ im.url }}) no-repeat center center; background-size:cover; height: 400px; width: 300px; "></div>
        {% endthumbnail %}
    </div>

    {% if user == request.user %}
    <div class="fr pa3 pt5">
        <a href="{% url "create" %}">Create new article!</a>
    </div>
    {% endif %}
    {% for article in user.article_created.all reversed %}
        <a href="{{ article.get_absolute_url }}" class='dib f5-ns b db pa2 link b black pv2 db bg-animate hover-bg-light-gray br2'>
            <ul class="list ph3 ph5-ns pv4">
                <li class='tc mr2 f3'>{{ article.title }}</li>
                <i>{{ article.created }}</i>
            </ul>
        </a>

    {% endfor %}
    {% if user != request.user %}
        <a href="#" data-id="{{ user.username }}" data-action="{% if request.user in user.followers.all %}un{% endif %}follow" class="follow button">
            {% if request.user not in user.followers.all %}
                Follow
            {% else %}
                Unfollow
            {% endif %}
        </a>
    {% endif %}
{% endblock content %}

{% block domready %}
    $('a.follow').click(function(e){
        e.preventDefault();
        $.post('{% url "user_follow" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    var previous_action = $('a.follow').data('action');

                    // toggle data-action
                    $('a.follow').data('action', previous_action == 'follow' ? 'unfollow' : 'follow');
                    // toggle link text
                    $('a.follow').text(previous_action == 'follow' ? 'Unfollow' : 'Follow');

                    // update total followers
                    var previous_followers = parseInt($('span.count .total').text());
                    $('span.count .total').text(previous_action == 'follow' ? previous_followers + 1 : previous_followers - 1);
                }
            });
    });
{% endblock domready %}
