{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Find users{% endblock title %}

{% block content %}
<div class="tc">
    <form id="searchform" action="{% url 'user_list' %}" method="get" accept-charset="utf-8">
        <input class="searchfield" id="searchbox" name="q" type="text" placeholder="Search">
        <button class="searchbutton" type="submit">Search</button>
    </form>
    {% for user in object_list reversed %}
        <div class="pa4 dib f5-ns b ma1 link b black db bg-animate hover-bg-light-gray br2">
            <a href="{{ user.get_absolute_url }}">
                {% thumbnail user.profile.photo "160x160" crop='100%' as im %}
                    <img src="{{ im.url }}" class="profile_photo">
                {% endthumbnail %}
                <p>{{ user.username }}</p>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock content %}
